.control-bar {
    position: fixed;
    z-index: 5;
    display: flex;
    width: 100%;
    background: white;
    color: black;
    margin: 0 auto;
    top: calc(100% - 60px);
    height: 60px;
}

.options {
    max-width: 800px;
    width: 100%;
    display: flex;
    border: 2px solid red;
    margin: 0 auto;
    justify-content: space-evenly;
}

.options button {
    margin: 3px;
    border: none;
    padding: 0 1em;
    background: red;
    cursor: pointer;
}

.options div {
    align-self: center;
}

.span  {
    font-size: 1em;
    padding: 2px;
    cursor: pointer;
}

.active {
    background: deeppink;
}

.arrowBar span {
    border: 1px solid green;
    margin: 0 2px;
    padding: 3px;
    cursor: pointer;
}

.pagination {
    display: flex;
    flex-direction: column;
}
