.outerModal {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(100,10,1,0.8);
}

.modal {
    width: 200px;
    height: 140px;
    align-self: center;
    margin: 0 auto;
    background: yellow;
    z-index: 1000;
    position: relative;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}

.btns {
    display: flex;
    justify-content: space-between;
}

.modal_btn {
    width: 50px;
    height: 30px;
    outline: none;
    border: none;
    background: none;
}

.yes {
    background: green;
}

.no {
    background: red;
}
