.responseBlock {
    position: absolute;
    width: 300px;
    height: 100px;
    top: 40px;
    right: 100px;
    display: flex;
    z-index: 654;
    text-align: center;
    font-size: 20px;
    background: darkgrey;
    color: aqua;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}


