table {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 60px auto;
}

.choosenProduct {
    background: deeppink;
}

.failedLoading {
    position: absolute;
    background: red;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 1em;
    margin: 0 auto;
    top: 0;
    text-align: center;
}

.headerItem {
    border: 2px solid grey;
    font-size: 1em;
    padding: 3px;
}

.headerItem span {
    font-size: 20px;
    background: red;
    margin: 0 2px;
}
